<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>

<body>
    <div class="max-w-3xl m-auto bg-sky-800">
        <div class="card grid gap-2 bg-slate-50 rounded-lg max-w-[380px] m-auto p-2 ">
            <ul class="">
                <ul class="flex justify-between">
                    <p class="font-bold">Order id: 1</p>
                    <p>12/12/1200</p>
                </ul>
                <p>Mobile no: 9897100000</p>
                <p>Address: Pk ka gola</p>
                <p>Total amount: 40234 Rs</p>
            </ul>
            <ul class="flex w-full justify-end text-sm font-semibold">
                <p>Order Status: Confirmed</p>
            </ul>

        </div>
    </div>
</body>

</html>