@tailwind base;
@tailwind components;
@tailwind utilities;

.checkout-container {
    width: 520px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #444;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}

.form-row {
    display: flex;
    gap: 12px;
}

/* PAYMENT */
.payment-method {
    margin-top: 25px;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    cursor: pointer;
}

.payment-option input {
    cursor: pointer;
}

.place-order-btn {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: #ff9f00;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.place-order-btn:hover {
    background: #fb8c00;
}