<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>

<body>
    <div class="card">
        <img class="" src="../profile_pic.webp" alt="">
        <div class="right grid gap-2">
            <ul class="top ">
                <span>Raju Kaju</span>
                <span>12-12-1200</span>
            </ul>
            <ul class="bottom text-sm">
                <p class="font-semibold">Subject of feedback</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, voluptatem, provident
                    dignissimos repellat animi sunt ad perspiciatis minima doloremque consequuntur, tempora totam
                    suscipit nemo fuga id voluptatum reiciendis pariatur illum
                </p>
            </ul>
        </div>
    </div>
</body>

</html>