<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>

<body class="grid ">
    <div class="container">
        <h2 class="text-xl font-bold">Add a feedback</h2>
        <form class="grid">
            <ul>
                <label for="">Subject</label>
                <input type="text" placeholder="Enter feedback subject">
            </ul>
            <ul>
                <label for="">Description</label>
                <textarea rows="3" placeholder="Enter feedback description"></textarea>
            </ul>
            <button>Submit feedback</button>
        </form>
    </div>
</body>

</html>