:root {
    --inactive: hsl(from #b8e6fe h s l / .6);
    --active: oklch(72.3% 0.219 149.579)
}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.sub-circle {
    height: 1rem;
    width: 1rem;
    background: var(--inactive);
    border-radius: 50%;
    outline: .2rem solid var(--inactive);
    outline-offset: .3rem;
    display: flex;
    align-items: center;

    p {
        margin-left: 2rem;
        text-wrap: nowrap;
    }
}

.bar {
    height: 3rem;
    width: .3rem;
    background: var(--inactive);
    margin: auto;
    border-radius: .3rem;

}

.p-2 {
    padding: 1rem;
}

.sub-circle.active , .bar.active{
    background: var(--active);
    outline-color: var(--active);
}