* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
background: linear-gradient(to right,white,rgb(235, 183, 86));

}
.navbar {
    width: 100%;
    min-height: 90px;
    background-color: #3a3280;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
}

.logo {
    padding-bottom: 35px;

    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
}
.hamburger img{
display: flex;
    filter: invert(1);

}

.searchBar {
    padding-bottom: 35px;
    flex: 1;                  
    display: flex;
    justify-content: center;
}

.searchBar input {
    width: 100%;
    max-width: 320px;           
    min-width: 120px;            
    padding: 8px 12px 8px 36px;
    border-radius: 20px;
    border: none;
    outline: none;

    background: #ffffff url("images/search.svg") no-repeat 12px center;
    background-size: 16px;
}




.cart img {
    width: 24px;
    cursor: pointer;
    padding-bottom: 35px;

}
