@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


.res-grid-240 {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: hsla(222, 47%, 11%, 0.8);
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --bg-clr: #f1f5f9;
}

* {
  margin: 0;
  padding: 0;
}




.sidebar ul li.active a {
  color: var(--accent-clr);

  svg {
    fill: var(--accent-clr);
  }
}

.sidebar a,
.sidebar .dropdown-btn,
.sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.sidebar svg {
  flex-shrink: 0;
  fill: var(--text-clr);
}

.sidebar a span,
.sidebar .dropdown-btn span {
  flex-grow: 1;
}

.sidebar a:hover,
.sidebar .dropdown-btn:hover {
  background-color: var(--secondary-text-clr);
}

.sidebar .sub-menu {
  border-radius: .5em;
  margin: auto;
  background: var(--bg-clr);
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  div {
    overflow: hidden;
  }
}

.sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.dropdown-btn svg {
  transition: 200ms ease;
}

.rotate svg:last-child {
  rotate: 180deg;
}

.sidebar .sub-menu a {
  padding-left: 2em;
}

@media (min-width: 768px) {
  .sidebar .sub-menu {
    position: absolute;
  }
}

.close{
  transform: translateX(-10.8rem);
}