*{
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}
.card {
    background-color: white;
width: 25%;
padding: 0 0 34px;
margin: 200px;
border-radius: 10px;
height: 290px;
}

.img {
    display: flex;
}
.content h2 {
        padding: 23px 0px  0px 0px;
}
.button {
}