body{
height: 100vh;
width: 100vw;
padding: 0;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255), rgb(221, 199, 128));

}
.navbar{
    background-color: rgb(42, 7, 105);
    height: 10vh;
}
.searchBar{
    padding: 10px;
    display: grid;
    place-items: center;

}
.searchBar input{
    border-radius: 20px;
    padding:10px 10px 10px 39px;
    width: 29%;
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
}
.cart{
    padding: 0 850px;
    background-color: white;
}